@font-face {
  font-family: customF;
  src: url(Montserrat-Light.ttf);
}

:root {
  --r1: #781212;
  --r2: #ff0505;
  --b1: #090909;
  --b2: #171717;
  --b3: #2a2a2a;
  --g1: #4a4a4a;
  --g2: #8c8c8c;
  --e1: rgba(225, 5, 5, 0.15);
}

.boxbody {
  border-radius: 1%;
  width: 66%;
  padding: 10px;
  background-color: var(--b2);
  border: 1px solid transparent;
  margin: 5% 17% auto 17%;
  box-shadow: 0px 0px 22px 2px var(--b1);
}
a:hover {
  cursor: pointer;
}
#container > h2 {
  color: white;
  text-shadow: 2px 0 0 var(--r1), -1px 0 0 var(--r1), 0 1px 0 var(--r1),
    0 -1px 0 var(--r1), 0.5px 0.5px var(--r1), -0.5px -0.5px 0 var(--r1),
    0.5px -0.5px 0 var(--r1), -0.5px 0.5px 0 var(--r1);
  font-family: customF;
  margin: 0% 2% 0% 2%;
}
#container > h3 {
  color: white;
  text-shadow: 2px 0 0 var(--r2), -2px 0 0 var(--r2), 0 2px 0 var(--r2),
    0 -2px 0 var(--r2), 1px 1px var(--r2), -1px -1px 0 var(--r2),
    1px -1px 0 var(--r2), -1px 1px 0 var(--r2);
  font-size: 42px;
  font-family: customF;
  margin: 1% 2% 0% 2%;
  text-align: center;
}
#container > h4 {
  color: var(--b1);
  font-family: customF;
  margin: 4% 2% 0% 2%;
  text-align: center;
}

.container {
  display: flex;
}
.container.space-around {
  justify-content: space-around;
}
.container.space-between {
  justify-content: space-between;
}

.sep10 {
  margin-top: 10px;
}
.sep20 {
  margin-top: 20px;
}
.sep30 {
  margin-top: 30px;
}
.butt {
  width: 20%;
  padding: 2% 5%;
  background: var(--b1);
  user-select: none;
}
.butt:hover {
  background: var(--b3);
  transform: scaleX(1.02) scaleY(1.08);
}
.hide {
  visibility: hidden !important;
  display: none !important;
  width: 0px !important;
  height: 0px !important;
}
#log {
  resize: vertical;
  cursor: pointer;
  user-select: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--b1);
}

::-webkit-scrollbar-track-piece {
  background-color: var(--g1);
}

::-webkit-scrollbar-thumb {
  height: 25%;
  background-color: var(--g2);
}

::-webkit-scrollbar-corner {
  background-color: var(--b1);
}

body {
  background: linear-gradient(132deg, #ec5218, #1665c1);
  background-size: 400vw 400vh;
  animation: BackgroundGradient 30s ease infinite;
}

@keyframes BackgroundGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
